.list {
  width: 100px;
  height: 300px;
  border: 2px solid;
  display: inline-block;
}

header > img {
  border: 2px solid;
  width: 180px;
  height: 180px;
  margin: 16px;

}

.name:not(.fragaria) {
  width: auto;
  border: 2px solid ;
  text-align: center;
  box-sizing: border-box;
  background-color: red;
  margin: 16px;
}

.fragaria {
  border: 2px solid ;
  border-right: none;
  background-color: white;
}

span {
  width: 143.6px;
  height: 25.5px;
}

/* TODO:나중에 flex 배울 때 위치 다시 잡기 */

header {
  display: flex;
  /* justify-content: flex-end; */
}

.name {
  /* display: flex; */
  justify-content: flex-end;
}

